{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Alejo</h1>
        <p>
            Cualquier cosa
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/Ted_profile.jpg" class="img-thumbnail" alt="">
    </div>
</div>


{{> footer }}